<mat-toolbar color="accent">
  <span class="spacer"></span>
  <img class="pokeball" src="./assets/pokeball.png" />
  &nbsp;&nbsp;
  <span>Pokedex</span>
  <span class="spacer"></span>
</mat-toolbar>
<mat-toolbar color="primary" style="height: 50px">
  <span class="spacer"></span>
  <input
    size="15"
    matInput
    placeholder="Name"
    type="text"
    [(ngModel)]="pokemonName"
  />
  <span class="spacer"></span>
  <input
    style="width: 50px"
    matInput
    placeholder="Id"
    type="number"
    [(ngModel)]="pokemonId"
  />
  <span class="spacer"></span>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="pokemonType">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span class="spacer"></span>
</mat-toolbar>
<br />
<mat-grid-list
  [cols]="breakpoint"
  rowHeight="2:1"
  (window:resize)="onResize($event)"
>
  <mat-grid-tile
    *ngFor="
      let pokemon of pokemons
        | nameFilter: pokemonName
        | idFilter: pokemonId
        | typeFilter: pokemonType
    "
  >
    <app-pokemon [pokemon]="pokemon"></app-pokemon>
  </mat-grid-tile>
</mat-grid-list>
